    .container {
        margin-top: 50px;
        position: relative;
    }

    @media (max-width: 576px) {
        .container {
            margin-top: 10px;
            padding: 0 15px;
            /* Menambahkan padding pada container pada ukuran layar kecil */
        }
    }

    .card-header {
        font-size: 1.3rem;
    }

    @media (max-width: 576px) {
        .card-header {
            font-size: 1.2rem;
        }
    }

    h3 {
        font-weight: bold;
        /* Mengatur teks "Login" menjadi tebal (bold) */
        color: #EEE0C9;
        font-family: cursive;
        ;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes logoAnimation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #loginText {
        height: 40px;
        letter-spacing: 2px;
        /* Menentukan tinggi tetap pada teks login */
        display: inline-block;
        overflow: hidden;
    }

    .text-center {
        text-align: center;
    }

    .login-link {
        color: #ffff;
        /* Warna tautan */
        text-decoration: none;
        transition: color 0.3s, border-bottom-color 0.3s;
        border-bottom: 1px solid transparent;
        /* Garis bawah awal */
    }

    .login-link:hover {
        color: #023349;
        /* Warna tautan saat dihover */
    }

    .btn-login {
        display: block;
        width: 100%;
        margin-top: 35px;
        padding: 10px 15px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        /* Menghilangkan border */
        border-radius: 50px;
    }

    .btn-login:hover {
        background-color: #EEE0C9;
        /* Warna latar belakang saat hover */
        color: #fff;
        /* Warna teks saat hover */
    }

    .form-group {
        position: relative;
        margin-bottom: 25px;
        /* Tambahkan margin bottom untuk memberikan jarak antara dua form-group */
    }

    form {
        width: 40%;
        text-align: center;
    }

    .form-login {
        border: none;
        background-color: rgb(62, 62, 62);
        backdrop-filter: blur(6px) grayscale(5%);
        border: 0.5px solid #ccc;
        background: transparent;
        padding: 10px;
        border-radius: 20px;
        width: 100%;
        transition: border-color 0.3s ease;
    }

    .form-login::placeholder {
        color: #ffffff;
    }

    .form-login:focus {
        outline: none;
        border-color: #EEE0C9;
        background: transparent;
    }

    .form-label span{
    display :flex;
    font-weight: bold; /* Mengatur teks "Login" menjadi tebal (bold) */
    color: black;
    margin-bottom: 8px;
    font-family: "Courier New", Monospace;
}

    @media only screen and (max-width: 576px) {
        form {
            width: 90%;
        }
    }